
.espaciado-busqueda{
    margin-top: 31px;
}

.quitar-link:hover{
    text-decoration: none;
}

.espaciado-boton{
    margin-top: 10px;
    margin-bottom: 10px;
}

.scroll-tabla{
    height: 200px;
    overflow: auto;
}

.ui-datepicker-calendar {
    display: none;
 }

 html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map {
    width: 100%;
    height: 80%;
}
#coords{width: 500px;}